jaxws-local/src/main/webapp/WEB-INF/wsdl/TopDownService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/ServiceTypes" 
	xmlns:ser="http://topdown.ws.example.com/TopDownService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	name="TopDownService"
	targetNamespace="http://topdown.ws.example.com/TopDownService/">

	<wsp:Policy>
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing>
                    <wsp:Policy/>
                </wsam:Addressing>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
	
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://www.example.org/ServiceTypes" 
			xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd"
			targetNamespace="http://www.example.org/ServiceTypes">
			<xsd:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" 
				schemaLocation="file:///c:/opt/javaexamples/schema-resources/swaref.xsd" />
			<xsd:element name="resizeImageRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="targetHeight" type="xsd:int" />
						<xsd:element name="targetWidth" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resizeImageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="downloadImage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="downloadImageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="ref:swaRef">
						</xsd:element> <!-- swaRef will map to a DataHandler -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BasicInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="firstName" type="xsd:string"></xsd:element>
						<xsd:element name="lastName" type="xsd:string"></xsd:element>
						<xsd:element name="address">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="addrline1" type="xsd:string"></xsd:element>
									<xsd:element name="addrline2" type="xsd:string"></xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="documentation" type="xsd:base64Binary"
							xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
							xmime:expectedContentTypes="*/*" />
						<!-- generated java classes will handle it with DataHandler 
							if xmime is specified, otherwise it ll be handled with byte[] -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
						<xsd:element name="credentials" type="xsd:base64Binary"
							xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
							xmime:expectedContentTypes="text/xml"/>
							<!-- text/xml will map to Source.  enable-mtom will add a include to attachment -->
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
        	<xsd:element name="lookUpUser">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="in" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="lookUpUserResponse">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="out" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="lookUpUserFault">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="fault" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="transactionHeader">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="transactionId" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="evaluateUser">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="in" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        </xsd:schema>
    </wsdl:types>
	
	<wsdl:message name="resizeImageRequest">
		<wsdl:part element="tns:resizeImageRequest" name="parameters" />
		<wsdl:part type="xsd:base64Binary" name="file" />
	</wsdl:message>
	<wsdl:message name="resizeImageResponse">
		<wsdl:part element="tns:resizeImageResponse" name="status"></wsdl:part>
		<wsdl:part type="xsd:base64Binary" name="fileResponse" />
	</wsdl:message>
	
	<wsdl:message name="downloadImageRequest">
		<wsdl:part element="tns:downloadImage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="downloadImageResponse">
		<wsdl:part element="tns:downloadImageResponse" name="response" />
	</wsdl:message>
	
	<wsdl:message name="registerUserRequest">
		<wsdl:part name="basicInfo" element="tns:BasicInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerUserResponse">
		<wsdl:part name="parameters" element="tns:registerUserResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="lookUpUserRequest" >
		<wsdl:part name="parameters" element="tns:lookUpUser"></wsdl:part>
		<wsdl:part name="transactionHeader" element="tns:transactionHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="lookUpUserResponse">
		<wsdl:part name="parameters" element="tns:lookUpUserResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="lookUpUserFault">
		<wsdl:part name="parameters" element="tns:lookUpUserFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="evaluateUserRequest">
		<wsdl:part name="parameters" element="tns:evaluateUser"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TopDownService">
		<wsdl:operation name="resizeImage">
			<wsdl:documentation>Example using MIME Attachments with jaxws:enableMIMEContext:true (allows contentType resolution)</wsdl:documentation>
			<wsdl:input name="resizeImageRequest" message="ser:resizeImageRequest" />
			<wsdl:output name="resizeImageRespone" message="ser:resizeImageResponse" />
		</wsdl:operation>
		<wsdl:operation name="downloadImage">
			<wsdl:documentation>Example using SOAP With Attachments (SWARef) for response</wsdl:documentation>
			<wsdl:input name="downloadImageRequest" message="ser:downloadImageRequest" />
			<wsdl:output name="downloadImageRespone" message="ser:downloadImageResponse" />
		</wsdl:operation>
		<wsdl:operation name="registerUser" parameterOrder="basicInfo">
			<wsdl:documentation>Example using MTOM (XOP:Include in SOAP)</wsdl:documentation>
			<wsdl:input message="ser:registerUserRequest"></wsdl:input>
			<wsdl:output message="ser:registerUserResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lookUpUser">
			<wsdl:documentation>Example of defining SOAP Binding elements (header, fault, headerfault)</wsdl:documentation>
			<wsdl:input message="ser:lookUpUserRequest"></wsdl:input>
			<wsdl:output message="ser:lookUpUserResponse"></wsdl:output>
			<wsdl:fault message="ser:lookUpUserFault" name="fault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="evaluateUser">
			<wsdl:documentation>One Way Operation Using WS Addressing</wsdl:documentation>
			<wsdl:input message="ser:evaluateUserRequest" wsam:Action="http://topdown.ws.example.com/TopDownService/evaluateUserAction"></wsdl:input>		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="TopDownServiceSOAP" type="ser:TopDownService">
		<wsdl:documentation>Binding section doc</wsdl:documentation>
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
		   	 <jaxws:enableMIMEContent>true</jaxws:enableMIMEContent>
		   	 <!-- <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>-->
		</jaxws:bindings>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />	
		<wsdl:operation name="downloadImage">
			<soap:operation
				soapAction="http://topdown.ws.example.com/TopDownService/downloadImage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="resizeImage">
			<soap:operation
				soapAction="http://topdown.ws.example.com/TopDownService/resizeImage" />
			<wsdl:input>
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="parameters" use="literal"/>
					</mime:part>
					<mime:part>
						<!-- watch out: JAXWS-RI-> SOAP MIME, Content-ID needs to have the following format
								to work in accordance with WSI-Attachment Profile: <part-name>=somereallybignumberlikeauuid@example.com 
								otherwise it wont work in JAXWS-RI -->
						<mime:content part="file" type="image/jpeg"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:input>
			<wsdl:output>
				<mime:multipartRelated>
					<mime:part>
						<soap:body parts="status" use="literal"/> 
					</mime:part>
					<mime:part>
						<mime:content part="fileResponse" type="image/jpeg"/>
					</mime:part>
				</mime:multipartRelated>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerUser">
			<soap:operation
				soapAction="http://topdown.ws.example.com/TopDownService/registerUser" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="lookUpUser">
			<soap:operation style="document" soapAction="http://topdown.ws.example.com/TopDownService/lookUpUser"/>
			<wsdl:input>
				<soap:body parts="parameters" />
				<soap:header use="literal" part="transactionHeader" message="ser:lookUpUserRequest">
				</soap:header>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="evaluateUser">
			<soap:operation style="document" soapAction="http://topdown.ws.example.com/TopDownService/evaluateUser"/>
			<wsdl:input>
				<soap:body parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TopDownService">
		<wsdl:port name="TopDownServiceSOAP" binding="ser:TopDownServiceSOAP">
			<soap:address location="http://topdown.ws.example.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
