jaxws-local/src/main/webapp/WEB-INF/wsdl/TopDownService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/ServiceTypes"
	xmlns:tns1="http://topdown.ws.example.com/TopDownService/"  
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="TopDownService"
	targetNamespace="http://topdown.ws.example.com/TopDownService/">
	
	<!-- <wsdl:import location="ServiceTypes.xsd" namespace="http://www.example.org/ServiceTypes">
	</wsdl:import>
	 -->
	 <wsdl:types>
	 	<schema xmlns="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://www.example.org/ServiceTypes"
			targetNamespace="http://www.example.org/ServiceTypes" >
			<xsd:element name="downloadImage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="downloadImageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BasicInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="firstName" type="xsd:string"></xsd:element>
						<xsd:element name="lastName" type="xsd:string"></xsd:element>
						<xsd:element name="address">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="addrline1" type="xsd:string"></xsd:element>
									<xsd:element name="addrline2" type="xsd:string"></xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</schema>
	 </wsdl:types>

	<wsdl:message name="downloadImageRequest">
		<wsdl:part element="tns:downloadImage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="downloadImageResponse">
		<wsdl:part element="tns:downloadImageResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerUserRequest">
		<wsdl:part name="basicInfo" element="tns:BasicInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerUserResponse">
		<wsdl:part name="parameters" element="tns:registerUserResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TopDownService">
		<wsdl:operation name="downloadImage" parameterOrder="parameters">
			<wsdl:input name="downloadImageRequest" message="tns1:downloadImageRequest" />
			<wsdl:output name="downloadImageRespone" message="tns1:downloadImageResponse" />
		</wsdl:operation>
		<wsdl:operation name="registerUser" parameterOrder="basicInfo">
			<wsdl:input message="tns1:registerUserRequest"></wsdl:input>
			<wsdl:output message="tns1:registerUserResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TopDownServiceSOAP" type="tns1:TopDownService" >
		<wsdl:documentation>Binding section doc</wsdl:documentation>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="downloadImage">
			<soap:operation
				soapAction="http://topdown.ws.example.com/TopDownService/downloadImage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerUser">
			<soap:operation
				soapAction="http://topdown.ws.example.com/TopDownService/registerUser" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TopDownService">
		<wsdl:port binding="tns1:TopDownServiceSOAP" name="TopDownServiceSOAP">
			<soap:address location="http://topdown.ws.example.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
