app-java-ee/app-war-project/src/main/resources/wsdl/LongProcessService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ws.web.example.com/LongProcessService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LongProcessService" targetNamespace="http://service.ws.web.example.com/LongProcessService/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.ws.web.example.com/LongProcessService/">
      <xsd:element name="runProcess">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="runProcessResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="runProcessFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="runProcessFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="runProcessRequest">
    <wsdl:part element="tns:runProcess" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="runProcessResponse">
    <wsdl:part element="tns:runProcessResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="runProcessFault">
  	<wsdl:part name="parameters" element="tns:runProcessFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LongProcessServicePort">
    <wsdl:operation name="runProcess">
      <wsdl:input message="tns:runProcessRequest"/>
      <wsdl:output message="tns:runProcessResponse"/>
            <wsdl:fault name="fault" message="tns:runProcessFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LongProcessServiceSOAP" type="tns:LongProcessServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="runProcess">
      <soap:operation soapAction="http://service.ws.web.example.com/LongProcessService/runProcess"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewBinding" type="tns:LongProcessServicePort">

  	<http:binding verb="GET" />
  	<wsdl:operation name="runProcess">

  		<http:operation location="/runProcess" />
  		<wsdl:input>
  			<http:urlEncoded />
  		</wsdl:input>
  		<wsdl:output>
  			<mime:content type="text/xml" />

  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LongProcessService">
    <wsdl:port binding="tns:LongProcessServiceSOAP" name="LongProcessServiceSOAP">
      <soap:address location="http://localhost:8080/app-war-project/LongProcessService?wsdl"/>
    </wsdl:port>
    <wsdl:port name="LongProcessServiceHTTP" binding="tns:NewBinding">
    	<http:address location="http://localhost:8080/app-war-project/LongProcessServicePort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
